.heading{
    width: 80%;
    font-variant: small-caps;
    font-size: 30px;
    background-color: crimson;
    color: coral;
}

.trained_object hr{
    background-color: yellowgreen;
    height: 2px;
}

.trained_object{
    background-color: yellow;
}

body{
    background-color: pink;
}